<div ibmGrid>
	<div ibmRow>
		<div ibmCol>
			<img
				class="landing-page__illo"
				src="images/opensentencing.png"
				alt="Carbon illustration"
			/>
        </div>
		<div ibmCol [columnNumbers]="{'md': 4, 'lg': 10}">
			<p class="login_welcome">
				<span class="login_welcome--span">Welcome to</span> IBM Open Sentencing
			</p>
            <div class="bx--btn-set login_button">
			    <button ibmButton (click)="login()">Login with IBMID</button>
            </div>
            <div class="bx--btn-set">
			    <button ibmButton="secondary" (click)="signup()">Sign up</button>
            </div>
		</div>
	</div>
</div>
