<div class="py-5">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card rounded-0">
        <div class="card-header">
          <h3 class="mb-0">Third Party Marketplace Dashboard</h3>
        </div>
        <div class="card-body">
          <h2 class="font-weight-normal lead">Angular application for configuring Third Party Marketplaces.</h2>
          <button class="btn btn-primary" (click)="login()"><i class="fa fa-lock"></i> Login with w3Id</button>
        </div>
      </div>
    </div>
  </div>
</div>
