@import "~carbon-components/scss/globals/scss/vendor/@carbon/type/scss/font-family";
@import "~carbon-components/scss/globals/scss/typography";

.landing-page__illo {
	max-width: 100%;
}

.login_welcome {
	margin-top: rem(+140px);
	@include carbon--type-style('productive-heading-05');
	@include carbon--font-weight('semibold');
}

.ibmid_login {
    padding-top: rem(+100px);
    padding-left: rem(+20px);
}

.ibmid_signup {
    padding-top: rem(+20px);
    padding-left: rem(+20px);
}

.signup_button {
    background-color: black;
}

