@import "~carbon-components/scss/globals/scss/vendor/@carbon/type/scss/font-family";
@import "~carbon-components/scss/globals/scss/typography";



@mixin auth {
    font-family: "IBM Plex Sans", "Helvetica Neue", "Arial", "sans-serif";
    font-weight: 100;
  }
.landing-page__illo {
    max-width: 100%;
  }
  
  .login_welcome {
    margin-top: rem(+140px);
    @include carbon--type-style("productive-heading-05");
    @include carbon--font-weight("semibold");
    font-family: "IBM Plex Sans", "Helvetica Neue", "Arial", "sans-serif";
  }
  .login_welcome--span {
    font-weight: lighter;
  }
  .login_button {
    margin-bottom: 1rem;
    padding-top: 100px;
    @include auth;
    font-weight:100;

    
 

  }

  .signup_button {
    @include auth
  }
  

