

.modal-layout-padding {
    margin: 20px;
}

.modal-layout-margin--bottom {
    margin-bottom: 1.5rem;

}
.modal-layout--margin-top {
    margin-top: 10px;
}

.modal-layout--margin--right {
margin-left: 2rem;
color: #161616;
font-weight: 400;

}
.modal-input--margin-sides{
    padding-left:1.5rem;
    padding-right: 1.5rem;
}
.modal-input--container {
    display: flex;
   
}
.modal-disclaimer--text {
    font-style: italic;
}
