.modal-text {
    margin-bottom: 30px;
}

.progress-indicator-horizontal- {
    height: 44px !important;
    width: 630px !important;
}

.section-state-progress-indicat {
    height: 44px !important;
    width: 210px !important;
}