<ibm-modal size="sm" (overlaySelected)="closeModal()">
    <ibm-modal-header (closeSelect)="closeModal()">
        <h4 ibmModalHeaderHeading> <svg ibmIconFolderAdd size="32"></svg> Add a new case</h4>
        <p>Specify the high level details of the case</p>
    </ibm-modal-header>
    <section  ibmModalContent hasForm="true">
        <div class="modal-layout-padding">
            <ibm-progress-indicator class="bx--progress-line; bx--progress-step; bx--progress-label" [steps]="defaultSteps"
            [current]="current">
        </ibm-progress-indicator>
        </div>

        <form [formGroup]="defendantAndCaseForm" class="modal-container--padding">
            <div  *ngIf="stepCounter ==='First'" > 
                <ibm-label [invalid]="" invalidText="Please enter the defendant's name."  class="modal-layout-padding">
                    <label>Defendant Name</label>
                    <input   ibmtext=""
                    autocomplete="on"
                    
                    class="bx--text-input"
                    id="ibm-label-0"
                    formControlName="defendantname" 
                        id="defendantname" name="defendantname" aria-describedby="defendantnameHelp" placeholder="Enter the defendant name"
                        label="Defendant name" required>
                </ibm-label>
                <div class="modal-input--container modal-layout-margin--bottom">

                    <ibm-select 
                        ibmCol [columnNumbers]="{'lg': 8, 'md': 8, 'sm': 4}"
                        id="defendantFace"
                        formControlName="defendantRace" 
                        name="defendantRace"
                        aria-describedby="defendantRaceHelp"
                        label="Defendant Race"
                        invalidText="Defendant's race is required"
                        [invalid]="isFormControlInvalid('defendantRace')"
                        required>
                        <option selected hidden>Select defendant's race</option>
                        <option *ngFor="let race of raceOptions" [value]="race[0]">{{race[1]}}</option>
                    </ibm-select>

                    <ibm-select 
                        ibmCol [columnNumbers]="{'lg': 8, 'md': 8, 'sm': 4}" 
                        id="defendant-gender-id" 
                        formControlName="defendantGender"  
                        name="defendantGender" 
                        aria-describedby="defendantGenderHelp"
                        label="Defendant Gender" 
                        invalidText="Defendant's gender is required"
                        [invalid]="isFormControlInvalid('defendantGender')" 
                        required>
                         <option selected hidden>Select gender</option>
                         <option *ngFor="let entry of genderOptions" [value]="entry[0]">{{entry[1]}}</option>
                    </ibm-select>
                </div>

            </div>
            <div  class="modal-layout-margin--bottom " *ngIf="stepCounter === 'Second'">
                <div class="modal-layout-padding">
                    <ibm-combo-box  appendInline="true" [items]="filterCharge"
                        (keyup)="mySearch($event)" (selected)="selected($event)" formControlName="chargeFilterInput">
                        <ibm-dropdown-list></ibm-dropdown-list>
                    </ibm-combo-box >
                    <ibm-tag-filter type="blue" closeButtonLabel="Clear" (close)="onClose(x.id)"
                        *ngFor="let x of selectedItemTag">{{x.content}}</ibm-tag-filter>
                </div>
                <fieldset class="bx--fieldset">
                    
                    <div  ibmCol [columnNumbers]="{'lg': 16, 'md': 16, 'sm': 4}">
                        <div>
                            <legend class="bx--label">Is the charge drug related?
                                <span *ngIf="enableRadioSelection === true" class="modal-layout--margin--right">For guidance, refer to the <a
                                        href="https://www.ussc.gov/guidelines/2018-guidelines-manual/2018-chapter-2-d"
                                        target="_blank" ibmLink>U.S. Sentencing Commisions guidelines</a></span>
                            </legend>
                        </div>
                        <ibm-radio-group aria-label="radiogroup" 
                            (change)="radioSelection($event)">

                            <ibm-radio value="yes">
                                Yes
                            </ibm-radio>
                            <ibm-radio value="no">
                                No
                            </ibm-radio>
                        </ibm-radio-group>
                    </div>
                </fieldset>
                <div class="modal-input--container" *ngIf="enableRadioSelection === true">
                    <div ibmCol [columnNumbers]="{'lg': 8, 'md': 8, 'sm': 4}">

                        <ibm-select  id="amountOfDrugPossessed" 
                            formControlName="amountOfDrugPossessed" 
                            name="amountOfDrugPossessed" aria-describedby="amountOfDrugPossessedHelp"
                            placeholder="Select an option" label="Amount range of drug possessed" >
                            <option value="default" disabled selected hidden>Choose an option</option>
                            <option value="white">White/Caucasian</option>
                            <option value="black">Black/African American</option>
                            <option value="hispanic">Native American</option>
                            <option value="americanIndian">Hispanic/Latino</option>
                            <option value="asian">Asian</option>
                            <option value="other">other</option>
                        </ibm-select>
                    </div>
                    <div ibmCol [columnNumbers]="{'lg': 8, 'md': 8, 'sm': 4}">
                        <ibm-select id="crimialHistoryCategory"
                        formControlName="crimialHistoryCategory"
                            name="crimialHistoryCategory" aria-describedby="crimialHistoryCategoryHelp"
                            placeholder="Select an option" label="Criminal History Category">
                            <option value="default" disabled selected hidden>Choose an option</option>
                            <option value="female">Female</option>
                            <option value="male">Male</option>
                            <option value="other">Other</option>
                        </ibm-select>
                    </div>
                </div>
                <div class="modal-input--container modal-layout--margin-top" *ngIf="enableRadioSelection === true">
                    <div ibmCol [columnNumbers]="{'lg': 8, 'md': 8, 'sm': 4}">
                        <ibm-select ibmCol id="estimatedSentence"
                            formControlName="estimatedSentence"
                            name="estimatedSentence" aria-describedby="estimatedSentenceHelp"
                            placeholder="Select an option" label="Estimated Sentence">
                            <option value="default" disabled selected hidden>Choose an option</option>
                            <option value="white">White/Caucasian</option>
                            <option value="black">Black/African American</option>
                            <option value="hispanic">Native American</option>
                            <option value="americanIndian">Hispanic/Latino</option>
                            <option value="asian">Asian</option>
                            <option value="other">other</option>
                        </ibm-select>
                    </div>
                    <div ibmCol [columnNumbers]="{'lg': 8, 'md': 8, 'sm': 4}">
                        <ibm-select id="givenSentence" name="givenSentence" formControlName="givenSentence"
                            aria-describedby="givenSentenceHelp" placeholder="Select an option" label="Given Sentence">
                            <option value="default" disabled selected hidden>Choose an option</option>
                            <option value="female">Female</option>
                            <option value="male">Male</option>
                            <option value="other">Other</option>
                        </ibm-select>
                    </div>
                    
                </div>
                
            </div>
        </form>

    </section>
    <ibm-modal-footer>
        <button class="bx--btn bx--btn--secondary" (click)="closeModal() ">
            Cancel
        </button>
   <button *ngIf="stepCounter === 'First'" [disabled]="!this.defendantAndCaseForm.valid || this.validateDefendantRace.value[0] == '' || this.validateDefendantGender.value[0] == ''"  class="bx--btn bx--btn--primary" modal-primary-focus (click)="goNextOrSave() ">
            {{textForButton}}
        </button>
        <button  *ngIf="stepCounter === 'Second'" [disabled]="this.validateFilter.value === null"  class="bx--btn bx--btn--primary" modal-primary-focus (click)="goNextOrSave()">
            Finish
        </button>
    </ibm-modal-footer>
</ibm-modal>