* {
    width: 100vw;
}
.embrace_header--toolbar{
    display: flex;

width: 100%;
   span {
       display: flex;   
     }
}
.embrace_menu{
    
    box-shadow: 1px 1px 12px rgb(198, 198, 198);
}

.embrace_component--insights {
    z-index: -2;
    position: relative;
}