<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Submit New Request to Process</h3>
            <hr/>
            <div *ngIf="!isValid" class="alert alert-danger">
                {{message}}
            </div>
            <div *ngIf="isValid && message !== undefined" class="alert alert-success">
                Sentencing Discrepancy in Years due to Bias: {{message}}
            </div>
            <form [formGroup]="submitOffenseForm" (ngSubmit)="onSubmit()">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="chargeCount">CHARGE COUNT</label>
                        <input type="number" class="form-control" formControlName="chargeCount" id="chargeCount" name="chargeCount" aria-describedby="chargeCountHelp" placeholder="Charge Count">
                        <small id="chargeCountHelp" class="form-text text-muted">Total Charge Counts</small>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="chargeDisposition">CHARGE DISPOSITION</label>
                        <input type="text" class="form-control" formControlName="chargeDisposition" id="chargeDisposition" name="chargeDisposition" aria-describedby="chargeDispositionHelp" placeholder="Charge Disposition">
                        <small id="chargeDispositionHelp" class="form-text text-muted">Charge Disposition</small>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="offenseCategory">OFFENSE CATEGORY</label>
                        <input type="text" class="form-control" formControlName="offenseCategory" id="offenseCategory" name="offenseCategory" aria-describedby="offenseCategoryHelp" placeholder="Offense Category">
                        <small id="offenseCategoryHelp" class="form-text text-muted">Offense Category (i.e ...)</small>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="primaryChargeFlag">PRIMARY CHARGE FLAG</label>
                        <select id="primaryChargeFlag" class="form-control" formControlName="primaryChargeFlag">
                          <option value="NONE" disabled hidden>Select your option</option>
                          <option value="true">YES</option>
                          <option value="false">NO</option>
                        </select>
                        <small id="primaryChargeFlagHelp" class="form-text text-muted">(Note: If this is primary charge, then YES, else NO)</small>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="dispositionChargedOffenseTitle">DISPOSITION CHARGED OFFENSE TITLE</label>
                        <input type="text" class="form-control" formControlName="dispositionChargedOffenseTitle" id="dispositionChargedOffenseTitle" name="dispositionChargedOffenseTitle" aria-describedby="dispositionChargedOffenseTitleHelp" placeholder="Disposition Charged Offense Title">
                        <small id="dispositionChargedOffenseTitleHelp" class="form-text text-muted">Offense title...</small>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="dispositionChargedClass">DISPOSITION CHARGED CLASS</label>
                        <input type="text" class="form-control" formControlName="dispositionChargedClass" id="dispositionChargedClass" name="dispositionChargedClass" aria-describedby="dispositionChargedClassHelp" placeholder="Disposition Charged Class">
                        <small id="dispositionChargedClassHelp" class="form-text text-muted">Charged Class...</small>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="sentenceJudge">SENTENCE JUDGE</label>
                        <input type="text" class="form-control" formControlName="sentenceJudge" id="sentenceJudge" name="sentenceJudge" aria-describedby="sentenceJudgeHelp" placeholder="Sentence Judge">
                        <small id="sentenceJudgeHelp" class="form-text text-muted">Sentence Judge...</small>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="sentencePhase">SENTENCE PHASE</label>
                        <input type="text" class="form-control" formControlName="sentencePhase" id="sentencePhase" name="sentencePhase" aria-describedby="sentencePhaseHelp" placeholder="Sentence Phase">
                        <small id="sentencePhaseHelp" class="form-text text-muted">Sentence Phase...</small>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="commitmentTerm">COMMITMENT TERM</label>
                        <input type="string" class="form-control" formControlName="commitmentTerm" id="commitmentTerm" name="commitmentTerm" aria-describedby="commitmentTermHelp" placeholder="Commitment Term">
                        <small id="commitmentTermHelp" class="form-text text-muted">Commitment Term...</small>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="commitmentUnit">COMMITMENT UNIT</label>
                        <input type="text" class="form-control" formControlName="commitmentUnit" id="commitmentUnit" name="commitmentUnit" aria-describedby="commitmentUnitHelp" placeholder="Commitment Unit">
                        <small id="commitmentUnitHelp" class="form-text text-muted">Commitment Unit...</small>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="lengthOfCase">LENGTH OF CASE in Days</label>
                        <input type="number" class="form-control" formControlName="lengthOfCase" id="lengthOfCase" name="lengthOfCase" aria-describedby="lengthOfCaseHelp" placeholder="Length Of Case in Days">
                        <small id="lengthOfCaseHelp" class="form-text text-muted">Length of Case in Days...</small>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="ageAtIncident">AGE AT INCIDENT</label>
                        <input type="number" class="form-control" formControlName="ageAtIncident" id="ageAtIncident" name="ageAtIncident" aria-describedby="ageAtIncidentHelp" placeholder="Age at Incident">
                        <small id="ageAtIncidentHelp" class="form-text text-muted">Age at Incident...</small>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="race">RACE</label>
                        <input type="text" class="form-control" formControlName="race" id="race" name="race" aria-describedby="raceHelp" placeholder="Race">
                        <small id="raceHelp" class="form-text text-muted">Please enter Race (i.e Caucasian, Asian, African-American etc)...</small>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="gender">GENDER</label>
                        <input type="text" class="form-control" formControlName="gender" id="gender" name="gender" aria-describedby="genderHelp" placeholder="Gender">
                        <small id="genderHelp" class="form-text text-muted">Gender...</small>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="incidentCity">INCIDENT CITY</label>
                        <input type="text" class="form-control" formControlName="incidentCity" id="incidentCity" name="incidentCity" aria-describedby="incidentCityHelp" placeholder="Incident City">
                        <small id="incidentCityHelp" class="form-text text-muted">Incident City...</small>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="lawEnforcementAgency">LAW ENFORCEMENT AGENCY</label>
                        <input type="text" class="form-control" formControlName="lawEnforcementAgency" id="lawEnforcementAgency" name="lawEnforcementAgency" aria-describedby="lawEnforcementAgencyHelp" placeholder="Law Enforcement Agency">
                        <small id="lawEnforcementAgencyHelp" class="form-text text-muted">Law Enforcement Agency...</small>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="lawEnforcementUnit">LAW ENFORCEMENT UNIT</label>
                        <input type="text" class="form-control" formControlName="lawEnforcementUnit" id="lawEnforcementUnit" name="lawEnforcementUnit" aria-describedby="lawEnforcementUnitHelp" placeholder="Law Enforcement Unit">
                        <small id="lawEnforcementUnitHelp" class="form-text text-muted">Law Enforcement Unit...</small>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="sentenceType">SENTENCE TYPE</label>
                        <input type="text" class="form-control" formControlName="sentenceType" id="sentenceType" name="sentenceType" aria-describedby="sentenceTypeHelp" placeholder="Sentence Type">
                        <small id="sentenceTypeHelp" class="form-text text-muted">Sentence Type...</small>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <div class="hidden">
                </div>
            </form>
        </div>
    </div>
</div>