
<div class=" embrace_form--container wrapper-layout" >



    <form class="embrace_form" ibmCol [columnNumbers]="{ lg: 12, md: 6, sm: 4 }" [formGroup]="submitOffenseForm" (ngSubmit)="onSubmit()">
        <section class="embrace_header-toolbar" ibmRow ibmCol [columnNumbers]="{ lg: 12, md: 6, sm: 4 }" >

            <p>{{caseId}}</p>
            <span >Submit new request to process</span>
            
    
    
    
    </section>
    <hr>
        <div class="embrace_form--spacing embrace_form--field" ibmRow>
            <ibm-label ibmCol [columnNumbers]="{ lg: 4, md: 6, sm: 4 }">
                <label>Charge Count</label>
                <input type="number" ibmText id="originator-email-input" theme="light" label="Charge Count" />
            </ibm-label>


            <ibm-label ibmCol [columnNumbers]="{ lg: 4, md: 6, sm: 4 }">
                <label for="">Charge Disposition</label>
                <input type="text" ibmText theme="light" formControlName="chargeDisposition" id="chargeDisposition"
                    name="chargeDisposition" aria-describedby="chargeDispositionHelp" placeholder="Charge Disposition"
                    required />
            </ibm-label>

            <ibm-label ibmCol [columnNumbers]="{ lg: 4, md: 6, sm: 4 }">
                <label for="">Offense category</label>
                <input type="text" ibmText id="originator-email-input" theme="light" />
            </ibm-label>

        </div>
        <div class="embrace_form--spacing" ibmRow>
            <ibm-select ibmCol [columnNumbers]="{ lg: 4, md: 6, sm: 4 }" id="primaryChargeFlag"
                formControlName="primaryChargeFlag" label="Is this the primary charge" theme="light">

                <option value="NONE" disabled hidden>Select your option</option>
                <option value="true">YES</option>
                <option value="false">NO</option>
            </ibm-select>

            <ibm-label ibmCol [columnNumbers]="{ lg: 4, md: 6, sm: 4 }">
                <label for="">Disposition charged offense title</label>
                <input ibmText type="text" formControlName="dispositionChargedOffenseTitle"
                    id="dispositionChargedOffenseTitle" name="dispositionChargedOffenseTitle"
                    aria-describedby="dispositionChargedOffenseTitleHelp"
                    placeholder="Disposition Charged Offense Title" theme="light">
            </ibm-label>
            <ibm-label ibmCol [columnNumbers]="{ lg: 4, md: 6, sm: 4 }">
                <label for="">Disposition Charge Class</label>
                <input ibmText type="text" formControlName="dispositionChargedClass" theme="light"
                    id="dispositionChargedClass" name="dispositionChargedClass"
                    aria-describedby="dispositionChargedClassHelp" placeholder="Enter a Charge Class">
            </ibm-label>
        </div>

        <div class="embrace_form--spacing" ibmRow>
            <ibm-label ibmCol [columnNumbers]="{ lg: 4, md: 6, sm: 4 }">
                <label for="sentenceJudge">Sentence Judge</label>
                <input ibmText type="text" formControlName="sentenceJudge" id="sentenceJudge" name="sentenceJudge"
                    ria-describedby="sentenceJudgeHelp" placeholder="Sentence Judge" theme="light">
            </ibm-label>

            <ibm-label ibmCol [columnNumbers]="{ lg: 4, md: 6, sm: 4 }">
                <label for="sentencePhase">Sentence Phase</label>
                <input ibmText type="text" formControlName="sentencePhase" id="sentencePhase" name="sentencePhase"
                    aria-describedby="sentencePhaseHelp" placeholder="Enter sentence phase" theme="light">
            </ibm-label>


            <ibm-label ibmCol [columnNumbers]="{ lg: 4, md: 6, sm: 4 }">
                <label for="">Commitment term</label>
                <input ibmText type="text" id="commitmentTerm" aria-describedby="commitmentTermHelp"
                    name="commitmentTerm" formControlName="commitmentTerm" placeholder="Enter a commitment term"
                    theme="light">
            </ibm-label>
        </div>
        <div ibmRow class="embrace_form--spacing">
            <ibm-label ibmCol [columnNumbers]="{ lg: 4, md: 6, sm: 4 }">
                <label for="commitmentUnit">Commitment Unit</label>
                <input type="text" ibmText formControlName="commitmentUnit" id="commitmentUnit" name="commitmentUnit"
                    aria-describedby="commitmentUnitHelp" placeholder="Commitment Unit" theme="light">
            </ibm-label>
            <ibm-label ibmCol [columnNumbers]="{ lg: 4, md: 6, sm: 4 }">
                <label for="lengthOfCase">Length of case (days)</label>
                <input ibmText type="number" formControlName="lengthOfCase" id="lengthOfCase" name="lengthOfCase"
                    aria-describedby="lengthOfCaseHelp" placeholder="Length Of Case in Days" theme="light">
            </ibm-label>

            <ibm-label ibmCol [columnNumbers]="{ lg: 4, md: 6, sm: 4 }">
                <label for="ageAtIncident">Age at incident</label>
                <input type="number" ibmText formControlName="ageAtIncident" id="ageAtIncident" name="ageAtIncident"
                    aria-describedby="ageAtIncidentHelp" placeholder="Age at Incident" theme="light">
            </ibm-label>


        </div>
        <div ibmRow class="embrace_form--spacing">
            <ibm-select ibmCol [columnNumbers]="{ lg: 4, md: 6, sm: 4 }" formControlName="race" id="race" name="race"
                aria-describedby="raceHelp" placeholder="Race" label="Race" theme="light">
                <option value="Male">Female</option>
                <option value="male">Male</option>
                <option value="other">Other</option>
            </ibm-select>
            <ibm-select ibmCol [columnNumbers]="{ lg: 4, md: 6, sm: 4 }" formControlName="gender" id="gender"
                name="gender" aria-describedby="genderHelp" placeholder="Gender" label="Gender" theme="light">
                <label for="gender">GENDER</label>
                <option value="female">Female</option>
                <option value="male">Male</option>
                <option value="other">Other</option>
            </ibm-select>

            <ibm-label ibmCol [columnNumbers]="{ lg: 4, md: 6, sm: 4 }">
                <label for="incidentCity">Incident City</label>
                <input ibmText type="text" formControlName="incidentCity" id="incidentCity" name="incidentCity"
                    aria-describedby="incidentCityHelp" placeholder="Incident City" theme="light">
            </ibm-label>


        </div>
        <div ibmRow class="embrace_form--spacing">
            <ibm-label ibmCol [columnNumbers]="{ lg: 4, md: 6, sm: 4 }">
                <label for="lawEnforcementAgency">Law Inforcement Agency</label>
                <input ibmText type="text" formControlName="lawEnforcementAgency" id="lawEnforcementAgency"
                    name="lawEnforcementAgency" aria-describedby="lawEnforcementAgencyHelp"
                    placeholder="Law Enforcement Agency" theme="light">
            </ibm-label>

            <ibm-label ibmCol [columnNumbers]="{ lg: 4, md: 6, sm: 4 }">
                <label for="lawEnforcementUnit">Law Enforcement Unit</label>
                <input ibmText type="text" formControlName="lawEnforcementUnit" id="lawEnforcementUnit"
                    name="lawEnforcementUnit" aria-describedby="lawEnforcementUnitHelp"
                    placeholder="Law Enforcement Unit" theme="light">
            </ibm-label>
            <ibm-label ibmCol [columnNumbers]="{ lg: 4, md: 6, sm: 4 }">
                <label for="sentenceType">Sentence Type</label>
                <input ibmText type="text"  formControlName="sentenceType" id="sentenceType"
                    name="sentenceType" aria-describedby="sentenceTypeHelp" placeholder="Sentence Type" theme="light">
            </ibm-label>

        </div>
        <div ibmRow class="bx--btn-set embrace_button" ibmCol [columnNumbers]="{ lg: 12, md: 6, sm: 4 }">
            <button ibmButton="secondary">Clear</button>
            <button [disabled]="!this.submitOffenseForm.valid" ibmButon ibmButton="primary">Submit</button>
    
        </div>

    </form>


    <div>


   